{% extends 'main/base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
    <div class="container-register">
        <div class="row-register d-flex justify-content-center">
            <div class="col-register col-md-6">
                <div class="form-container-register">
                    <h1 class="title-register">PASSWORD RESET SENT</h1>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% else %}
                        <p>We've emailed you instructions for setting your password. If you don't receive an email, please check your spam folder or try again.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}