{% extends 'main/base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
    <div class="container-register">
    <div class="row-register d-flex  justify-content-center">
        <div class="col-register col-md-6">
        <div class="form-container-register">
            <h1 class="title-register">PASSWORD RESET COMPLETE</h1>
            <p>Your password has been set. You may now log in.</p>
            <p><a href="{% url 'users:login' %}" class="link-register">Log In</a></p>
        </div>
        </div>
    </div>
    </div>
{% endblock %}