{% extends 'main/base.html' %}

{% block title %}Password Reset Request{% endblock %}

{% block content %}
    <div class="container-register">
        <div class="row-register d-flex justify-content-center">
            <div class="col-register col-md-6">
                <div class="form-container-register">
                    <h1 class="title-register">PASSWORD RESET</h1>
                    <form class="form-register" method="post">
                        {% csrf_token %}
                        <div class="form-group-register">
                            <label for="{{ form.email.id_for_label }}" class="label-register">EMAIL</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="text-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="submit-button-register">REQUEST RESET</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}